@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: dark;
    --bg-color: #1B1B1B;
    --bg-color-secondary: #313131;
    --bg-color-accent: #292929;
    --accent-color: #B5CFF8;
    --text-color-main: #FFF;
    --text-color-secondary: #A8A8A8;
    --border-radius: 15px;
    --button-heigh: 38px;
}

body {
    background: var(--bg-color);
    color: var(--text-color-main);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}

p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

button {
    border: none;
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

img {
    width: 14px;
    height: auto;
    object-fit: contain;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

a:visited, a:focus, a:hover {
    color: var(--accent-color);
}